@import "styles/variable.scss";
@import "styles/media.scss";

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  // letter-spacing: 0.07rem;
  font-size: 14px;
    @include sm {
    font-size: $font-normal;
    margin-bottom: 10px;
  }
  & .select {
    //   height: 1.3rem;
    margin: 0rem 0.4rem;
    border: 1px solid var(--color-dusty_grey);
    border-radius: 5px;
    font-size: $font-base;
    color: var(--color-blue_dress);
    outline-color: var(--color-blue_dress);
  }
}
