.radio {
  width: 10rem;
  height: 2.563rem;
  background-color: var(--color-dusty_grey);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;

  & input[type="radio"] {
    display: none;
  }

  &:has(input:checked) {
    &.checked {
      background-color: var(--color-white);
      border: 1px solid var(--color-blue_dress);
    }
  }
}
