.input {
  display: block;
  border: 1px solid var(--color-cloudy_grey_light);
  border-radius: 5px;
  padding-left: 0.3rem;
  outline: none;
  padding: 0.3rem 0rem;
  padding-left: 0.9rem;
  font-size: small;
  width: 100%;
}

.input.login {
  background-color: var(--color-white);
}

.input.regular {
  background-color: var(--color-white80);
}
