/* Chrome, Safari, Edge, Opera */
.inputStyle::-webkit-outer-spin-button,
.inputStyle::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.inputStyle[type="number"] {
  -moz-appearance: textfield;
}

.inputStyle {
  width: 2.375rem !important;
  height: 2.125rem;
  background-color: var(--color-dusty_grey);
  outline: none;
  color: black;
}

.error {
  border: 1px solid var(--color-red);
}

.inputStyle:nth-child(n) {
  margin: 0rem calc(1rem / 2);
}

.inputStyle:first-child {
  margin-left: 0rem;
}

.inputStyle:last-child {
  margin-right: 0rem;
}
