@import "styles/common.scss";

// $dpd-width: in;

.dropdown-cont {
  position: relative;
  & > button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.1rem 0.2rem;
    width: inherit;
    height: 2.3rem;
    border-radius: 5px;
    background-color: var(--color-white);
    border: 0.5px solid var(--color-dusty_grey_dark);
    // color: pink;
  }

  & .position {
    bottom: -8.5rem;
  }
}
