@import "../media.scss";
@import "../common.scss";
@import "../variable.scss";

//pages
.file {
  height: 11.297rem;
  //   background-color: pink;
}

.title {
  color: var(--color-blue_dress);
  font-size: 1.375rem;
  font-weight: 500;
  margin: 2rem 0rem;
}

.btn-cont {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
  width: fit-content;
}

.form-grid {
  display: grid;
  grid-auto-flow: row;
  gap: 2.2rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));

  @include lg {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.table-cont {
  margin-bottom: 1.25rem;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  gap: 1.75rem;

  @include scrollBarStyle;
}

.card {
  text-align: left;
  padding: 1.037rem;
  position: relative;
  //   background-color: aliceblue;
  & > div > svg {
    fill: white;
  }

  & .header {
    margin-bottom: 0.8rem;
    & span:first-child {
      font-size: $font-medium;
    }

    & span:last-child {
      font-weight: lighter;
    }
  }

  & .card-info {
    line-height: 1rem;
    & span {
      font-size: $font-small;
      color: var(--color-cloudy_grey);
    }
  }

  & .contact-info {
    margin-top: 0.8rem;
    & div:first-child {
      margin-bottom: 0.2rem;
    }
    & div {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: $font-small;
      color: var(--color-cloudy_grey);

      & .icon {
        // width: 1rem;
        // height: 1rem;
        & > * {
          font-size: $font-small;
          color: var(--color-cloudy_grey);
        }
      }
    }
  }
}
