@import "../media.scss";
@import "../common.scss";

//pages
.file {
  height: 11.297rem;
  //   background-color: pink;
}

.title {
  color: var(--color-blue_dress);
  font-size: 1.375rem;
  font-weight: 500;
  margin: 2rem 0rem;
}

.btn-cont {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
  width: fit-content;
}

.form-grid {
  display: grid;
  grid-auto-flow: row;
  gap: 2.2rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));

  @include lg {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.table-cont {
  margin-bottom: 1.25rem;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  gap: 1.75rem;

  @include scrollBarStyle;
}
