@import "../media.scss";
@import "../common.scss";
@import "../variable.scss";
@import "./additional.module.scss";
//pages
.file {
  height: 11.297rem;
  //   background-color: pink;
}

.title {
  color: var(--color-blue_dress);
  font-size: 1.375rem;
  font-weight: 500;
  margin: 2rem 0rem;
}

.btn-cont {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  @include lg {
    gap: 1.75rem;
    margin-bottom: 1rem;
  }
  margin-bottom: 1rem;
  align-items: center;
  width: 100%;

  & > div {
    flex-basis: 220px;
    flex-grow: 1;
    @include lg {
      flex-grow: 0;
    }
  }
}

.form-grid {
  display: grid;
  grid-auto-flow: row;
  gap: 2.2rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));

  @include lg {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.table-cont {
  margin-bottom: 10px;
  display: flex;
  overflow-x: scroll;
  padding-top: 10px;
  // padding-bottom: 10px;
  gap: 1.75rem;
  flex-grow: 1;
  scroll-behavior: smooth;
  @include scrollBarStyle;
}

.card {
  text-align: left;
  padding: 15px 13px;
  position: relative;
  //   background-color: aliceblue;
  & > div > svg {
    fill: white;
  }

  & .header {
    margin-bottom: 0.5rem;
    & span {
      font-size: $font-medium;
    }
    & span:first-child {
      // font-size: $font-medium;
    }

    & span:last-child {
      // font-weight: lighter;
    }
  }

  & .card-info {
    // line-height: 1rem;
    margin-bottom: 0.5rem;
    & > p {
      letter-spacing: -0.5px;
      font-size: 14px;
      line-height: 1.2;
      margin-bottom: 6px;
    }
    & span {
      font-size: $font-small;
      color: var(--color-cloudy_grey);
    }
  }

  & .contact-info {
    margin-bottom: 10px;
    & div:first-child {
      margin-bottom: 0.2rem;
    }

    & div {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      font-size: $font-small;
      color: var(--color-cloudy_grey);
      & span {
        word-break: break-all;
      }
      & .icon {
        // width: 1rem;
        // height: 1rem;
        & > * {
          font-size: $font-small;
          color: var(--color-cloudy_grey);
        }
      }
    }
  }

  & .badge-container {
    display: flex;
    justify-content: space-between;
  }
}

.error {
  color: var(--color-red) !important;
}

.attachments {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // gap: 2rem;
  // justify-content: space-between;
}

.addAttachments {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  font-size: $font-medium;
  color: var(--color-blue_dress);
}

.comment-box {
  display: flex;
  align-items: center;
  gap: 1rem;

  & .user {
    border: 0.01rem solid var(--color-cloudy_grey_lighter);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-large;
    font-weight: 700;
    background-color: var(--color-aqua_blue_lighter);
  }

  & .input {
    flex: 1;
  }
}

.error-message {
  font-size: $font-small;
  color: rgb(236, 76, 76);
  margin-top: 3px;
}

.menu-pos {
  right: -100%;
}
