$navbar-height: 4rem;
$footer-height: 2rem;
$sidebar-width: 320px;
// $sidebar-width: 4.5rem;
$default-width: 220px;
//font size
$font-xsmall: 0.65rem; //12px
$font-small: 0.75rem; //12px
$font-base: 0.85rem; //13.6px
$font-medium: 0.875rem; //14px
$font-normal: 1rem; //16px
$font-large: 1.125rem; //18px
$font-larger: 1.563rem; //25px
