$navbar-height: 6rem;
$footer-height: 2rem;
$sidebar-width: 16.938rem;
// $sidebar-width: 4.5rem;

//font size
$font-small: 0.75rem;
$font-medium: 0.875;
$font-normal: 1rem;
$font-large: 1.125rem;
$font-larger: 1.563;
