@import "styles/variable.scss";
@import "styles/media.scss";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 114px;
  // background-color: pink;
  // height: $navbar-height;
  padding-top: 2rem;
  padding-bottom: 2rem;

  .select-container {
    width: 16rem;
  }

  & .burger {
    cursor: pointer;
    @include lg {
      display: none;
    }
  }

  & .right-side {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    & .bell-icon {
      font-size: 1.8rem;
    }
  }
}
