@import "styles/variable.scss";
@import "styles/media.scss";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background-color: pink;
  height: $navbar-height;

  & .berger {
    @include lg {
      display: none;
    }
  }
}
