@import "styles/variable.scss";
@import "styles/media.scss";
@import "styles/common.scss";

$shrink-sidebar-width: 5rem;

.sidebar-cont {
  z-index: 1;
  // overflow: hidden;
  position: absolute;

  width: $sidebar-width;
  height: 100vh;

  transition: all 0.25s ease-in-out;
  transition-property: width, transform;
  transform: translateX(-$sidebar-width - 1rem);

  &.slide-in {
    transform: translateX(0);

    & .sidebar {
      & .title-img {
        width: 13.45rem;
        height: 3.778rem;
        background-image: url("/assets/images/Snippit_Logo.png");
      }
    }
  }

  & > .back-arrow {
    z-index: 1;
    position: absolute;
    top: 6.5%;
    left: calc(100% - 10px);
    scale: 1.5;
    cursor: pointer;

    @include xl {
      display: none;
    }
  }
  .sidebar {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    padding: 2.285rem 1.464rem;

    background-color: white;

    & .title-img {
      width: 10rem;
      height: 2.4rem;

      // background-color: pink;
      background-size: contain;
      background-repeat: no-repeat;
      transition: all 1s;

      background-image: url("/assets/images/logo.png");

      @include xl {
        width: 13.45rem;
        height: 3.778rem;
        background-image: url("/assets/images/Snippit_Logo.png");
      }
    }

    @include scrollBarStyle;
    @include md {
      background: transparent
        linear-gradient(
          180deg,
          var(--color-macaw-blue-green) 0%,
          var(--color-kiwi-green) 100%
        )
        0% 0% no-repeat padding-box;
    }
  }

  @include lg {
    transform: translateX(0);
    width: $shrink-sidebar-width;
    position: relative;
    &.slide-in {
      position: relative;
      width: $sidebar-width;
    }
  }

  @include xl {
    width: $sidebar-width;
    position: relative;
    &.slide-in {
      position: relative;
    }
  }
}

.icons-cont {
  width: 11.278rem;
}

.icons-cont > .icons {
  /* background-color: pink; */

  display: flex;
  align-items: center;
  gap: 1.5rem;
  position: relative;
  cursor: pointer;
}

.icons-cont > .icons::after {
  content: "";
  width: 8.438rem;
  height: 0.06rem;
  background-color: var(--color-cloudy_grey);
  position: absolute;
  bottom: 0rem;
  left: 3.6rem;
}

.icons-cont > .icons:hover::after {
  background-color: var(--color-blue_dress);
}

.icons-cont > .icons:first-child {
  margin-top: 4.5rem;
}

.icons-cont > .icons:not(:first-child):nth-child(n) {
  margin-top: 1.1rem;
}

.icons-cont > .icons > .img {
  width: 2.069rem;
  height: 2.038rem;
}

.icons-cont > .icons > p {
  color: var(--color-black);
}

.user-details {
  margin-top: 5rem;
  display: flex;
  gap: 1rem;
  width: 12.063rem;
}

.user-details > .user-img {
  width: 2.813rem;
  height: 2.813rem;
  border-radius: 100%;
}

.user-details > .user-name > p {
  font-size: $font-normal;
}

.user-details > .user-name > .user-role {
  font-size: $font-medium;
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.user-details > .user-name > .user-role > p {
  color: var(--color-aqua_blue);
}

.user-details > .user-name > .user-role > .icon {
  cursor: pointer;
}
