@import "styles/variable.scss";
@import "../../styles/media";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.6rem;
  flex-basis: 0;
  @include sm {
    flex-basis: 100px;
    padding-top: 10px;
    flex-shrink: 0;
  }
  width: 100%;
  overflow: hidden;
  font-size: $font-medium;
  
  & .footer-content {
    display: none;
    @include sm {
      display: flex;
    }
    align-items: center;
    color: var(--color-cloudy_grey);
  }
  & ul {
    $margin-right-li: 0.6rem;
    list-style: inside;
    display: flex;
    flex: 1;
    @include sm {
      flex: initial;
    }
    justify-content: space-between;
    & li {
      display: flex;
      align-items: center;
      margin-left: 1rem;
      &::before {
        content: "•";
        font-size: $font-larger;
        //   vertical-align: middle;
        color: var(--color-cloudy_grey);
        // margin-right: $margin-right-li;
        margin-right: 10px;
      }
    }
  }
}
.mobile-links{
  display: none;
  @include sm {
    display: flex;
  }
  flex-basis: 40px;
  justify-content: space-between;
}