@import "styles/media.scss";

.form-wrapper {
  background: var(--color-white-80) 0% 0% no-repeat padding-box;
  // box-shadow: 0px 3px 6px var(--color-black29);
  opacity: 0.88;
  // margin: 1rem;
  // height: 27.917rem;
  border-radius: 1rem;
  padding: 1rem 2.093rem;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);

  flex: 1;

  @include md {
    padding: 2.053rem 5.093rem;
  }
}
