@import "styles/variable.scss";

.doc {
  color: var(--color-white);
  & .header {
    // height: 3.688rem;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-dark_sky_blue);
    font-size: $font-medium;

    & .title {
      //   font-size: $font-medium;
    }

    & .sub-title {
      display: flex;
      align-items: center;

      & .icon > svg {
        font-size: 2.4rem;
      }
    }
  }

  & .body {
    background-color: var(--color-white);
    transition: all 4s ease-out;

    & .disclosure-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: all 4s ease-out;
      text-align: left;

      color: var(--color-black);
      font-size: $font-small;
      padding: 0.8rem;
      width: 100%;
      border: 0.5px solid var(--color-dusty_grey);

      & > span {
        width: 18rem;
      }

      & .pts {
        display: flex;
        align-items: center;
      }
    }

    & .panel {
      height: fit-content;
      padding: 1rem;
      margin-bottom: 1rem;

      & .uploader {
        height: 9.297rem;
        margin-bottom: 1rem;
      }

      & .preview {
        height: 9.297rem;
        position: relative;
        background: var(--color-white-80) 0% 0% no-repeat padding-box;
        // padding: 2rem;
        border: 0.5px dashed #000000;
        // opacity: 0.65;
        border-radius: 2rem;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        // width: 2rem;
        & > svg {
          color: var(--color-black);
        }

        & img {
          object-fit: contain;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
