@import "../../styles/variable";

.select-box-scroll-bar::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
.select-box-scroll-bar::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}

/* Handle */
.select-box-scroll-bar::-webkit-scrollbar-thumb {
  background-color: var(--color-half_black);
  border-radius: 10px;
}

/* Handle on hover */
.select-box-scroll-bar::-webkit-scrollbar-thumb:hover {
  background: var(--color-dusty_grey);
}

// relative w-full cursor-default rounded-md py-2 pl-3 pr-10 text-left shadow-md focus:outline-none  sm:text-sm

.lst-box-btn {
  position: relative;
  width: $default-width;
  cursor: pointer;
  border-radius: 5px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  outline: none;
  border: none;
  &.large {
    background-color: red;
  }
  //colors
  &.gray {
    background: var(--color-dusty_grey) 0% 0% no-repeat padding-box;
  }

  &.white {
    background: var(--color-white-80) 0% 0% no-repeat padding-box;
  }

  &.full-white {
    background: white 0% 0% no-repeat padding-box;
  }

  &.transparent {
    background: pink 0% 0% no-repeat padding-box;
    border: 1px solid gray;
  }
}

// varients
