@import "styles/variable.scss";
@import "styles/common.scss";
// .container {
//   margin: 0rem 10%;
// }

.layout {
  display: flex;
  height: 100vh;
  position: relative;
  overflow: hidden;
  // overflow-y: scroll;

  /* margin: 0rem 10%; */
}

.children {
  padding: 0rem 1.688rem;
  background: transparent
    linear-gradient(
      128deg,
      var(--color-candlelight) 0%,
      var(--color-aqua_blue_light) 0%,
      var(--color-dusty_grey) 100%
    )
    0% 0% no-repeat padding-box;
  flex: 1;
  overflow: scroll;
  position: relative;

  & .main-content {
    height: calc(100vh - $navbar-height - $footer-height);
    overflow: hidden;
    overflow-y: scroll;
    // background-color: pink;

    @include scrollBarStyle;
  }
  @include scrollBarStyle;
}
